%h1 Teams

.teams-container
	%ul.nav.nav-list

	.actions
		%buttom.btn.create-team Create Team
		%buttom.btn.manage-teams Manage Teams

#create-team-dialog

:javascript
	$(function(){
		window.App.teams = new App.Teams();
		App.teams.fetch();

		new App.TeamSideBar({ collection: App.teams });
	});