%h1
	Teams

.teams-container
	%ul

	.actions
		= link_to 'Create Team' , '#', class: 'create-team' 
		= link_to 'Manage Teams', '#', class: 'manage-teams'

#create-team-dialog

:javascript
	$(function(){
		window.App.teams = new App.Teams();
		App.teams.fetch();

		new App.TeamSideBar({ collection: App.teams });
	});