%h1 Games

.games-container
    .games-actions
        %button#create-game.btn Create Game

    %table.games-list

#create-game-dialog

:javascript
    $(function(){
        App.games_json = #{ @games.to_json( include: [:gamings, teams: { only: [:id, :name] } ] ) }
        App.games = new App.Games();
        App.games.reset(App.games_json);

        new App.GamesList({collection: App.games});

    });
       
