%div.navbar
	%div.navbar-inner
		%div.container
			%ul.nav
				%li{:class => active_menu(:dashboard)}
					= link_to 'Dashboard', root_path
				%li{:class => active_menu(:teams)}
					= link_to 'Teams', teams_path 