!!!5
%html
	%head
		%title
			Kiniela

		=stylesheet_link_tag 'application', media: 'all'
		=javascript_include_tag 'application'

		%meta{charset: 'utf-8'}
		=csrf_meta_tags

	%body
		=render 'layouts/menu_bar'
		=yield
